.footer
  background-color $gray_dkOP
  &-content
    padding 2.5rem 0
    width 70%
    margin auto
    color $text
    text-align center
    h4
        font-size 1rem
    a
        color $text
    .copyright
        font-size 10px
        padding-top 1rem
