*
    margin 0
    padding 0
    box-sizing border-box
    poppins()

.wrapper
    width 70%
    margin auto

h1
    color $green_dk
    font-weight bold
    text-align center
    padding 2rem 0
    letter-spacing 5px

h3
    color $green_dk2
    font-size .95rem
    poppinsS()

.section
    padding 2rem 0

@import '_soy';
@import '_skills';
@import '_proyects';
@import '_footer';