.proyects
    &-content
        display flex
        margin 3.5rem 0
        &-left
            width 40%
        &-right
            width 60%
    &-list
        list-style none
        text-decoration none
        li
            padding-bottom 2rem
            &:last-child
                padding-bottom 0
    &-items
        color $green
        font-size 1.5rem
        transition .2s all ease-in-out
        text-decoration none
        &:hover
            poppinsB()
    .active
        poppinsB()

.wp-sites
    background-color $turquesa_lg
    height 100%
    width 100%
    border-radius 20px