.navbar
    width 100%
    &-content
        display flex
        justify-content space-between
        align-items center
        list-style none
        margin 0 1.5rem
        &-inside
            list-style none
            width 100%
            a
                color $green_dk
                text-decoration none

    &-item
        color $green_dk
        display inline-block
        margin 0 1rem
        cursor pointer