poppinsXS()
    font-family 'Poppins'
    font-weight 200

poppinsS()
    font-family 'Poppins'
    font-weight 300

poppinsL()
    font-family 'Poppins'
    font-weight 400

poppinsM()
    font-family 'Poppins'
    font-weight 600

poppins()
    font-family 'Poppins'
    font-weight normal

poppinsB()
    font-family 'Poppins'
    font-weight 800

poppinsXB()
    font-family 'Poppins'
    font-weight 900