/* Colors */

$green = #21AA94; 

$green_lgOp = rgba(33, 170, 124, .5)

$green_dk = #2f7e72

$green_dk2 = #1A7456

$turquesa = #21aa94

$turquesa_lg = rgba(33, 170, 148, .19)

$gray_dkOP = rgba(19, 70, 62 , .1)


$text = #707070

$white = #fff

